@import "./globals.scss";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300,500,600,700);
/* Generic stuff */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html, body {
	font: 14px/22px "Lato", Arial, sans-serif;
	color: rgba(#fff,1);
	background: #e0e0e0;
	background: -webkit-linear-gradient(left, #e0e0e0, #a9a9a9);
	background: -o-linear-gradient(left, #e0e0e0, #a9a9a9);
	background: linear-gradient(to right, #e0e0e0, #a9a9a9);
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
}
main {
	display: flex;
	justify-content: space-between;
	& > div {
		flex-basis: 50%;
	}
}
a {
	text-decoration: none;
	color: #5C7FB8;
	&:hover {
		text-decoration: underline;
	}
}
#app,
#app > div {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
    overflow: hidden;
}


/*
 * Layout Core
 */
.layout-core{
	/* Base Layout */
	.layout-app{
		width: calc( 100% - 200px );
		height: calc( 100% - 70px );
		overflow: auto;
		display: block;
		position: relative;
		padding: 0;
		margin: 70px 0 0 200px;
	}
	/* Top bar */
	.window-topbar {
		background: #000;
		position: fixed;
		display: block;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		width: 100%;
		-webkit-user-select: none;
		-webkit-app-region: drag;
		color: #fff;
		padding: 3px;
		text-align: center;
		font-size: 13px;
		.os-windows {
			-webkit-app-region: no-drag;
			.wc-box {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				-webkit-app-region: no-drag;
				div {
					position: relative;
					float: left;
					width: 30px;
					height: 30px;
					-webkit-app-region: no-drag;
					&:before,
					&:after {
						top: 30%;
						right: 30%;
						bottom: 30%;
						left: 30%;
						content: " ";
						position: absolute;
						border-color: #CCCCCC;
						border-style: solid;
						border-width: 0 0 2px 0;
					}

					&:hover {
						background-color: #CCCCCC;

						&:after,
						&:before {
							border-color: #333333;
						}
					}
				}

				.minimize:before {
					-webkit-app-region: no-drag;
					border-bottom-width: 2px;
				}

				.maximize:before {
					-webkit-app-region: no-drag;
					border-width: 1px 1px 2px 1px;
				}
				.maximized{
					-webkit-app-region: no-drag;
					&:before {
						top: 20%;
						bottom: 40%;
						left: 40%;
						right: 20%;
						border-width: 1px 1px 2px 1px;
						z-index: 1;
					}
					&:after {
						background: #ccc;
						border-width: 1px 1px 2px 1px;
						z-index: 2;
					}
				}
				.close {
					-webkit-app-region: no-drag;
					&:before,
					&:after {
						bottom: 50%;
						top: 50%;
					}

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}

					&:hover {
						background-color: #E04343;

						&:after,
						&:before {
							border-color: #FFFFFF;
						}
					}
				}
			}
		}
		.os-mac {
			.title-bar {
				-webkit-app-region: no-drag;
				height: 100%;
			}
			// UI elements in the title bar are collectively refered
			// to here as "controlls".
			.close, .minimize, .zoom {
				-webkit-app-region: no-drag;
				height: 12px;
				width: 12px;
				border-radius: 50%;
				background: #ddd;
				position: absolute;
				top: 9px;
				cursor: pointer;
			}
			.close {
				background-color: #ff6052;
				left: 10px;
			}
			.minimize {
				background-color: #ffbe06;
				left: 10px + 12px + 10px;
			}
			.zoom {
				background-color: #16cc37;
				left: 10px + (12px + 10px) * 2;
			}
			// For OSX we're co-opting the "maximize" button for "fullscreen"
			.maximize {
				-webkit-app-region: no-drag;
				height: 20px;
				width: 20px;
				position: absolute;
				top: 5px;
				right: 10px;
				cursor: pointer;
				& > .arrow-icon{
					    height: 14px;
						width: 14px;
						background: #aaa;
						margin: 3px auto;
						display: inline-block;
						-webkit-clip-path: polygon(
							2px 9px, 0px 7px, 0px 14px, 7px 14px,
							5px 12px, 7px 10px, 4px 7px, 7px 4px,
							10px 7px, 12px 5px, 14px 7px,
							14px 0px, 7px 0px, 9px 2px
						);
				}
			}
		}
	}
	/* Top menu */
	.navbar-expand-lg .navbar-nav.side-nav{
		flex-direction: column;
	}
	.card{
		margin-bottom: 15px;
		border-radius:0;
		box-shadow: 0 3px 5px rgba(0,0,0,.1);
	}
	.header-top{
		box-shadow: 0 3px 5px rgba(0,0,0,.1)
	}
	.navbar.header-top.fixed-top{
		top: 30px;
		height: 40px; 
	}
	/* Sidebar */
	.navbar-nav.side-nav{
		background: #585f66;
		box-shadow: 2px 1px 2px rgba(0,0,0,.1);
		position:fixed;
		top: 70px;
		flex-direction: column!important;
		left:0;
		width:200px;
		overflow-y:auto;
		bottom:0;
		overflow-x:hidden;
		padding-bottom:40px;
	}
}

@import "./pages.scss";
@import "./components.scss";