/* Movie Item */

.list-item.card {
  display: inline-block;
  position: relative;
  width: 210px;
  height: 310px;
  background: no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(black, .5);
  transition: .5s;
  overflow: hidden;
  margin: 5px;
  border: 0;

  &:hover {
    transition: .5s;

    .info {
      padding-top: 60px;
      opacity: 1;
      transition: .5s;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .title {
      padding-bottom: 20px;
      opacity: 1;
      transition: .5s;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .hvr-radial-out {
      &:before {
        transform: scale(2, 2);
      }

      i, svg,
      .time {
        opacity: 1;
      }
    }
  }

  .info {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    background: linear-gradient(to bottom, #000, transparent);
    text-transform: uppercase;
    opacity: 0;
    transition: .5s;
    z-index: 2;
    color: rgba(#fff, .9);

    .year {
      position: absolute;
      left: 30px;
      top: 20px;
    }

    .rating {
      position: absolute;
      right: 30px;
      top: 20px;
    }
  }

  .title {
    color: rgba(#fff, .85);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 90px 10px;
    background: linear-gradient(to top, #000, transparent);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: .5s;

    &.show {
      padding-bottom: 50px;
      opacity: 1;
      transition: .5s;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .hvr-radial-out {
    width: 300px;
    height: 300px;
    margin: 5px 0 0 -45px;
    position: relative;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    border-radius: 10px;

    i, svg {
      font-size: 30px;
      color: #fff;
      width: 50px;
      position: absolute;
      top: calc(50% - 50px);
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      text-align: center;
    }

    .time {
      font-size: 12px;
      color: #fff;
      width: 100%;
      text-align: center;
      position: absolute;
      top: calc(50% - 0px);
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }


  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0, 0);
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
  }
}


.episode-item.card {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 130px;
  background: no-repeat center/cover;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  transition: .5s;
  overflow: hidden;
  margin: 5px;
  border: 0;

  &:hover {
    transition: .5s;

    .info {
      padding-top: 20px;
      opacity: 1;
      transition: .5s;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .title {
      padding-bottom: 10px;
      opacity: 1;
      transition: .5s;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .hvr-radial-out {
      &:before {
        transform: scale(2, 2);
      }

      i, svg,
      .time {
        opacity: 1;
      }
    }
  }

  .info {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    background: linear-gradient(to bottom, #000, transparent);
    text-transform: uppercase;
    opacity: 0;
    transition: .5s;
    z-index: 2;
    color: rgba(#fff, .9);

    .year {
      position: absolute;
      left: 30px;
      top: 10px;
    }

    .rating {
      position: absolute;
      right: 30px;
      top: 10px;
    }
  }

  .title {
    color: rgba(255, 255, 255, 0.85);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 10px 10px 0;
    background: linear-gradient(to top, #000, transparent);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: .5s;

    &.show {
      padding-bottom: 50px;
      opacity: 1;
      transition: .5s;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .hvr-radial-out {
    width: 200px;
    height: 200px;
    margin: -35px 0 0;
    position: relative;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    border-radius: 10px;

    i, svg {
      font-size: 30px;
      color: #fff;
      width: 50px;
      height: 30px;
      position: absolute;
      top: 80px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      text-align: center;
    }

    .time {
      font-size: 12px;
      color: #fff;
      width: 100%;
      text-align: center;
      position: absolute;
      top: calc(50% - 0px);
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }


  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0, 0);
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
  }
}

.card-loading {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 310px;
  background: #b3b3b3;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(black, .5);
  transition: .5s;
  overflow: hidden;
  margin: 5px;
  opacity: 1;

  .info {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .year {
      position: absolute;
      left: 30px;
      top: 25px;
      height: 15px;
      width: 60px;
      background: #fff;
      border-radius: 10px;
      animation-duration: 10s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 10%, #dddddd 20%, #eeeeee 30%);
    }

    .rating {
      position: absolute;
      right: 30px;
      top: 25px;
      height: 15px;
      width: 30px;
      background: #fff;
      border-radius: 10px;
      animation-duration: 10s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 10%, #dddddd 20%, #eeeeee 30%);
    }
  }

  .title {
    position: absolute;
    width: 90%;
    height: 25px;
    bottom: 50px;
    border-radius: 10px;
    left: 5%;

    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 20%, #eeeeee 30%);

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 70%;
      height: 25px;
      bottom: -35px;
      left: 15%;
      border-radius: 10px;
      background: #fff;
      animation-duration: 6s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 10%, #dddddd 20%, #eeeeee 30%);
    }

    &.show {
      padding-bottom: 50px;
      opacity: 1;
      transition: .5s;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .hvr-radial-out {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    border-radius: 10px;

    i, svg {
      font-size: 50px;
      color: #fff;
      width: 50px;
      position: absolute;
      top: calc(50% - 50px);
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -486px 0px
  }
  100% {
    background-position: 486px 0px
  }
}


.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 2rem 0;
  margin: 0;
  height: 100vh;
}

.movie {
  flex: 0 1 30%;
  margin: 1rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(60px);

  @media all and (max-width: 900px) {
    flex: 0 1 90%;
    margin: 0.6rem;
  }

  &__header {
    display: block;
    width: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }

    .f8 & {
      background: url('http://www.hdwallpapers.in/download/the_fate_of_the_furious_2017_4k-2560x1440.jpg') center no-repeat;
      background-size: cover;
    }

    .logan & {
      background: url('http://blog.hdwallsource.com/wp-content/uploads/2017/08/monochrome-logan-movie-desktop-wallpaper-61664-63496-hd-wallpapers.jpg') center no-repeat;
      background-size: cover;
    }

    .baby-driver & {
      background: url('https://www.goombastomp.com/wp-content/uploads/2017/06/BabyDriverPodcast.jpg') center no-repeat;
      background-size: cover;
    }
  }

  &__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .f8 & {
      background: linear-gradient(to right, #859398, #283048);
      opacity: 0.8;
    }

    .logan & {
      background: linear-gradient(to right, #ffc500, #c21500);
      opacity: 0.4;
    }

    .baby-driver & {
      background: linear-gradient(to right, #753a88, #cc2b5e);
      opacity: 0.6;
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 1.2rem;
    margin: 0;
    color: white;
    opacity: 0;
    transform: translateX(10px);
  }

  &__details {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.6);
  }

  &__time {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1.2rem;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
  }

  &__rating {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 80%;
    opacity: 0.4;

    i {
      display: inline-block;
      margin-right: 0.2rem;
    }
  }
}


.component-player {

}

/*
 * Loading Circle
 */

.loading {
  margin: 50px auto;
  width: 80px;
  .load {
    width: 80px;
    animation: loading 3s linear infinite;
    .loading-inner {
      stroke: {
        dashoffset: 0;
        dasharray: 150;
        width: 5;
        miterlimit: 5;
        linecap: round;
      }
      animation: loading-circle 3s linear infinite;
      stroke: #51BBA7;
      fill: transparent;
    }
  }
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0
  }
  100% {
    stroke-dashoffset: -600;
  }
}

/*
 * Filter Bar
 */
.filters-tab {
  padding: 10px;
  background: #7d7d7d;
  position: relative;
  z-index: 9;
  box-shadow: 0px 1px 4px #545454;
  box-sizing: content-box;
  width: 100%;
}


/*
 * Player Video.JS
 */
.vjs-custom-skin > .video-js {
  width: 100%;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline.vjs-slider-active, .vjs-custom-skin > .video-js .vjs-menu-button-inline:focus, .vjs-custom-skin > .video-js .vjs-menu-button-inline:hover, .video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em
}

.vjs-custom-skin > .video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important
}

.vjs-custom-skin > .video-js .vjs-control {
  width: 3em
}

.vjs-custom-skin > .video-js .vjs-control.vjs-live-control {
  width: auto;
  padding-left: .5em;
  letter-spacing: .1em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline:before {
  width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em
}

.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button, .video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button {
  display: block
}

.vjs-custom-skin > .video-js .vjs-load-progress div, .vjs-seeking .vjs-big-play-button, .vjs-waiting .vjs-big-play-button {
  display: none !important
}

.vjs-custom-skin > .video-js .vjs-mouse-display:after, .vjs-custom-skin > .video-js .vjs-play-progress:after {
  padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button, .vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button {
  display: block
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 3.5em;
  /*border-radius: 50%;*/
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important
}

.video-js:hover .vjs-big-play-button, .vjs-custom-skin > .video-js .vjs-big-play-button:focus, .vjs-custom-skin > .video-js .vjs-big-play-button:active {
  background-color: rgba(36, 131, 213, 0.9)
}

.vjs-custom-skin > .video-js .vjs-loading-spinner {
  border-color: rgba(36, 131, 213, 0.8)
}

.vjs-custom-skin > .video-js .vjs-control-bar2 {
  background-color: #000000
}

.vjs-custom-skin > .video-js .vjs-control-bar {
  /*background-color: rgba(0,0,0,0.3) !important;*/
  color: #ffffff;
  font-size: 14px
}

.vjs-custom-skin > .video-js .vjs-play-progress, .vjs-custom-skin > .video-js .vjs-volume-level {
  background-color: #2483d5
}

.vjs-custom-skin > .video-js .vjs-play-progress:before {
  top: -0.3em;
}

.vjs-custom-skin > .video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.3em;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0em;
}

.vjs-custom-skin > .video-js .vjs-menu li {
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}

.vjs-custom-skin > .video-js .vjs-time-tooltip,
.vjs-custom-skin > .video-js .vjs-mouse-display:after,
.vjs-custom-skin > .video-js .vjs-play-progress:after {
  border-radius: 0;
  font-size: 1em;
  padding: 0;
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  top: -3em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-popup .vjs-menu {
  width: 5em;
  left: -1em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button .vjs-menu {
  /*order: 4;*/
}

/*排序顺序*/
.vjs-custom-skin > .video-js .vjs-control-bar .vjs-play-control {
  order: 0;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-time-control {
  min-width: 1em;
  padding: 0;
  margin: 0 .1em;
  text-align: center;
  display: block;
  order: 1;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.2em;
  line-height: 2.4;
}

.vjs-custom-skin > .video-js .vjs-progress-control.vjs-control {
  order: 2;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-volume-menu-button {
  order: 3;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button {
  order: 4;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
  display: block;
  line-height: 3em;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-playback-rate {
  order: 5;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-fullscreen-control {
  order: 6;
}

/* Popover style */

.popover {
  .player-info {
    display: block;
  }
}