/* Pages styles */

/* Index */
.page-index {
	#wrapper {
		background: radial-gradient(
						ellipse at top left,
						rgba(255, 255, 255, 1) 40%,
						rgba(229, 229, 229, .9) 100%
		);
		height: 100vh;
		padding: 60px 80px;
		width: 100vw;
	}

	#logo {
		height: auto;
		margin-bottom: 20px;
		width: 420px;
	}

	.left-side {
		display: flex;
		flex-direction: column;
	}

	.welcome {
		color: #555;
		font-size: 23px;
		margin-bottom: 10px;
	}

	.title {
		color: #2c3e50;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 6px;

		&.alt {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}

	.doc {
		p {
			color: black;
			margin-bottom: 10px;
		}

		button {
			font-size: .8em;
			cursor: pointer;
			outline: none;
			padding: 0.75em 2em;
			border-radius: 2em;
			display: inline-block;
			color: #fff;
			background-color: #4fc08d;
			transition: all 0.15s ease;
			box-sizing: border-box;
			border: 1px solid #4fc08d;

			&.alt {
				color: #42b983;
				background-color: transparent;
			}
		}
	}
}

/* About */
.page-about {
	.title {
		color: #888;
		font-size: 18px;
		font-weight: initial;
		letter-spacing: .25px;
		margin-top: 10px;
	}

	.items {
		margin-top: 8px;
	}

	.item {
		display: flex;
		margin-bottom: 6px;

		&.name {
			color: #6a6a6a;
			margin-right: 6px;
		}

		&.value {
			color: #35495e;
			font-weight: bold;
		}
	}
}

.page-settings {
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	a {
		text-decoration: none;
	}

	a:link, a:visited {
		color: #B0B0B2;
	}

	a:hover, a:active {
		color: #0674D7;
	}

	p {
		font-size: 14px;
		margin-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		margin: 0;
		padding: 0;
	}

	.wrapper {
		display: flex;
		padding: 80px 20px;
		max-width: 810px;
		min-width: 810px;
		margin: 0 auto;
	}

	.Sidebar {
		align-items: center;
		background-color: #2D3139;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		box-shadow: -5px 0px 60px 0 rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
		display: flex;
		margin: 60px 0;
	}

	.Sidebar__nav-list {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.Sidebar__nav-list__item {
		color: rgba(255, 255, 255, 0.3);
		cursor: pointer;
		font-size: 1.75rem;
		padding: 20px 30px;
		text-align: center;
	}

	.Sidebar__nav-list__item:hover {
		color: white;
	}

	.Sidebar__nav-list__item--active {
		color: white;
	}

	/**
	 * 1. z-indexed over the sidebar so the sidebar's shadow
	 *    doesn't show over the main content area
	 */
	.Details {
		background-color: white;
		border-radius: 4px;
		box-shadow: -5px 0px 70px 0 rgba(0, 0, 0, 0.4);
		flex: 1;
		position: relative;
		z-index: 1;
	}

	.Details__header {
		padding: 30px;
	}

	.Details__title {
		color: rgba(0, 0, 0, 0.8);
		font-size: 28px;
		font-weight: 300;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
	}

	.Details__nav {
		padding: 0 60px;
	}

	.Details__nav-list {
		display: flex;
		justify-content: space-between;
	}

	.Details__nav-list__item {
		border-bottom: 2px solid transparent;
		color: #B0B0B2;
		cursor: pointer;
		padding-bottom: 30px;
		position: relative;
		text-align: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.Details__nav-list__item:hover {
		border-color: #0674D7;
	}

	.Details__nav-list__item--active {
		border-color: #0674D7;
	}

	.Details__body {
		background: #F7F9FA;
		padding: 50px 60px;
		border-radius: 4px;
	}

	.Media {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	.Media__side {
		vertical-align: middle;
	}

	.Media__side--left {
		margin-right: 30px;
	}

	.Media__side--right {
		margin-left: 30px;
	}

	.Media__image {
		width: 100%;
		max-width: 55px;
	}

	.Media__body {
		flex: 1;
	}

	.checkbox {
		background-color: #E6E6E6;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		text-align: center;
		vertical-align: middle;
		height: 20px;
		width: 20px;
	}

	.checkbox:before {
		background-color: #00BAFF;
		border-radius: 50%;
		color: white;
		font-size: 32px;
		line-height: 28px;
		opacity: 0;
		transition: all 0.1s ease-in;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.checkbox-input {
		display: none;
	}

	.checkbox-input:checked + .checkbox:before {
		opacity: 1;
		position: absolute;
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
	}

	.Button {
		border-radius: 3px;
		border: 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
		color: white;
		cursor: pointer;
		display: inline-block;
		font-weight: 500;
		font-size: 13px;
		letter-spacing: 1px;
		outline: 0;
		padding: 16px 36px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transition: box-shadow 0.15s, background-color 0.15s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		vertical-align: middle;
		will-change: box-shadow, background-color, color;
	}

	.Button--sync {
		background-color: #00BAFF;
		border-radius: 50%;
		color: white;
		font-size: 32px;
		line-height: 70px;
		text-align: center;
		padding: 0;
		height: 70px;
		width: 70px;
	}

	.Button--sync > span {
		line-height: 70px;
	}

	#sync {
		bottom: 0;
		position: absolute;
		right: 0;
		-webkit-transform: translate(-50%, 50%);
		transform: translate(-50%, 50%);
	}

	.u-flex {
		display: flex;
		flex-wrap: wrap;
	}

	.u-flex-center--v {
		display: flex;
		align-items: center;
	}

}

.page-local-media {

}

/* Movies List */
.page-movie-list {
	.movie-list {
		li {
			display: inline-block;
		}
	}
}

/* Movies Detail */
.page-movie-detail {
	height: 100%;
	width: 100%;
	position: relative;
	background: #eee;
	padding: 0 0 20px;

	&:after {
		content: '';
		clear: both;
		width: 100%;
		height: 1px;
		background: inherit;
	}

	.return-to-list {
		position: absolute;
		top: 10px;
		left: 20px;
		width: 30px;
		height: 30px;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		border-radius: 50%;
		text-align: center;
		z-index: 9;
		padding: 4px 0;
		transition: all .3s ease-in-out;

		&:hover {
			box-shadow: 0 0 1px darkgray;
			background: rgba(0, 0, 0, 0.8);
		}
	}

	.movie-card {
		font: 14px/22px "Lato", Arial, sans-serif;
		color: #A9A8A3;
		padding: 0;
	}

	.hero {
		height: 342px;
		margin: 0;
		position: relative;
		overflow: hidden;
		z-index: 1;
		background: #8e8e8e;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 0;
		transform: skewY(-2.2deg);
		transform-origin: 0 0;
		//chrome antialias fix
		-webkit-backface-visibility: hidden;

		&:after {
			content: '';
			background: rgba(0, 0, 0, 0.55);
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	.movie-header {
		height: 342px;
		margin: 0;
		position: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		display: block;
	}

	.cover {
		position: absolute;
		top: 160px;
		left: 40px;
		height: 290px;
		z-index: 2;
	}

	.details {
		padding: 160px 0 0 260px;

		.title1 {
			color: white;
			font-size: 40px;
			margin-bottom: 13px;
			position: relative;
			line-height: 38px;
			max-width: 70%;
			width: max-content;

			span {
				position: absolute;
				top: 3px;
				margin-left: 12px;
				background: #C4AF3D;
				border-radius: 5px;
				color: #544C21;
				font-size: 14px;
				line-height: 20px;
				padding: 0px 4px;
				right: -60px;
			}
		}

		.title2 {
			color: #eee;
			font-size: 23px;
			font-weight: 300;
			margin-bottom: 15px;
		}

		.likes {
			color: #bbb;
			margin-left: 24px;
		}

		.likes:before {
			content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
			position: relative;
			top: 2px;
			padding-right: 7px;
		}
	}

	.description {
		bottom: 0px;
		height: 200px;
		font-size: 0;
		line-height: 26px;
		color: #424242;

		&:after {
			content: '';
			clear: both;
		}

		.column1 {
			padding-left: 40px;
			padding-top: 120px;
			width: 230px;
			float: left;
			font-size: 16px;

			.tag {
				background: white;
				border-radius: 6px;
				padding: 2px 8px;
				font-size: 14px;
				margin: 4px 4px 0 0;
				cursor: pointer;
				display: inline-block;

				&:hover {
					background: #ddd;
				}
			}
		}

		.column2 {
			padding-left: 41px;
			padding-top: 30px;
			width: calc(100% - 230px);
			float: left;
			position: relative;
			font-size: 16px;

			p {
				width: 90%;
			}

			.avatars {
				margin-top: 23px;

				img {
					cursor: pointer;
					border-radius: 50%;
					height: 120px;
					width: 120px;
					object-fit: cover;
					object-position: center;
					box-shadow: 0 0 1px 2px darkgrey;
					margin: 5px;

					&:hover {
						opacity: 0.6;
					}
				}

				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	//star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

	fieldset, label {
		margin: 0;
		padding: 0;
	}

	/****** Style Star Rating Widget *****/

	.rating {
		border: none;
		float: left;
	}

	.rating > input {
		display: none;
	}

	.rating > label:before {
		margin: 5px;
		margin-top: 0;
		font-size: 1em;
		font-family: 'Font Awesome 5 Free';
		display: inline-block;
		font-weight: 900;
		content: "\f005";
	}

	.rating > .half:before {
		content: "\f089";
		position: absolute;
	}

	.rating > label {
		color: #ddd;
		float: right;
	}

	/***** CSS Magic to Highlight Stars on Hover *****/

	.rating > input:checked ~ label, /* show gold star when clicked */
	.rating:not(:checked) > label:hover, /* hover current star */
	.rating:not(:checked) > label:hover ~ label {
		color: #FFD700;
	}

	/* hover previous stars in list */

	.rating > input:checked + label:hover, /* hover current star when changing rating */
	.rating > input:checked ~ label:hover,
	.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
	.rating > input:checked ~ label:hover ~ label {
		color: #FFED85;
	}

	//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

	a[data-tooltip] {
		position: relative;
	}

	a[data-tooltip]::before,
	a[data-tooltip]::after {
		position: absolute;
		display: none;
		opacity: 0.85;
	}

	a[data-tooltip]::before {
		/*
		 * using data-tooltip instead of title so we
		 * don't have the real tooltip overlapping
		 */
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 13px;
		padding: 5px;
		border-radius: 5px;
		/* we don't want the text to wrap */
		white-space: nowrap;
		text-decoration: none;
	}

	a[data-tooltip]::after {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		content: '';
	}

	a[data-tooltip]:hover::before,
	a[data-tooltip]:hover::after {
		display: block;
	}

	/** positioning **/

	/* top tooltip */
	a[data-tooltip][data-placement="top"]::before {
		bottom: 100%;
		left: 0;
		margin-bottom: 40px;
	}

	a[data-tooltip][data-placement="top"]::after {
		border-top-color: #000;
		border-bottom: none;
		bottom: 50px;
		left: 20px;
		margin-bottom: 4px;
	}
}

.page-tvshow-detail {
	height: 100%;
	width: 100%;
	position: relative;
	background: #eee;
	padding: 0 0 20px;

	&:after {
		content: '';
		clear: both;
		width: 100%;
		height: 1px;
		background: inherit;
	}

	.return-to-list {
		position: absolute;
		top: 10px;
		left: 20px;
		width: 30px;
		height: 30px;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		border-radius: 50%;
		text-align: center;
		z-index: 9;
		padding: 4px 0;
		transition: all .3s ease-in-out;

		&:hover {
			box-shadow: 0 0 1px darkgray;
			background: rgba(0, 0, 0, 0.8);
		}
	}

	.tvshow-card {
		font: 14px/22px "Lato", Arial, sans-serif;
		color: #A9A8A3;
		padding: 0;
	}

	.hero {
		height: 342px;
		margin: 0;
		position: relative;
		overflow: hidden;
		z-index: 1;
		background: #8e8e8e;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 0;
		transform: skewY(-2.2deg);
		transform-origin: 0 0;
		//chrome antialias fix
		-webkit-backface-visibility: hidden;

		&:after {
			content: '';
			background: rgba(0, 0, 0, 0.55);
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	.tvshow-header {
		height: 342px;
		margin: 0;
		position: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		display: block;
	}

	.cover {
		position: absolute;
		top: 160px;
		left: 40px;
		height: 290px;
		z-index: 2;
	}

	.details {
		padding: 160px 0 0 260px;

		.title1 {
			color: white;
			font-size: 40px;
			margin-bottom: 13px;
			position: relative;
			line-height: 38px;
			max-width: 70%;
			width: max-content;

			span {
				position: absolute;
				top: 3px;
				margin-left: 12px;
				background: #C4AF3D;
				border-radius: 5px;
				color: #544C21;
				font-size: 14px;
				line-height: 20px;
				padding: 0px 4px;
				right: -60px;
			}
		}

		.title2 {
			color: #eee;
			font-size: 23px;
			font-weight: 300;
			margin-bottom: 15px;
		}

		.likes {
			color: #bbb;
			margin-left: 24px;
		}

		.likes:before {
			content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
			position: relative;
			top: 2px;
			padding-right: 7px;
		}
	}

	.description {
		bottom: 0px;
		height: 200px;
		font-size: 0;
		line-height: 26px;
		color: #424242;

		&:after {
			content: '';
			clear: both;
		}

		.column1 {
			padding-left: 40px;
			padding-top: 120px;
			width: 230px;
			float: left;
			font-size: 16px;

			.tag {
				background: white;
				border-radius: 6px;
				padding: 2px 8px;
				font-size: 14px;
				margin: 4px 4px 0 0;
				cursor: pointer;
				display: inline-block;

				&:hover {
					background: #ddd;
				}
			}
		}

		.column2 {
			padding-left: 41px;
			padding-top: 30px;
			width: calc(100% - 230px);
			float: left;
			position: relative;
			font-size: 16px;

			p {
				width: 90%;
			}

			.avatars {
				margin-top: 23px;

				img {
					cursor: pointer;
					border-radius: 50%;
					height: 120px;
					width: 120px;
					object-fit: cover;
					object-position: center;
					box-shadow: 0 0 1px 2px darkgrey;
					margin: 5px;

					&:hover {
						opacity: 0.6;
					}
				}

				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	//star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

	fieldset, label {
		margin: 0;
		padding: 0;
	}

	/****** Style Star Rating Widget *****/

	.rating {
		border: none;
		float: left;
	}

	.rating > input {
		display: none;
	}

	.rating > label:before {
		margin: 5px;
		margin-top: 0;
		font-size: 1em;
		font-family: 'Font Awesome 5 Free';
		display: inline-block;
		font-weight: 900;
		content: "\f005";
	}

	.rating > .half:before {
		content: "\f089";
		position: absolute;
	}

	.rating > label {
		color: #ddd;
		float: right;
	}

	/***** CSS Magic to Highlight Stars on Hover *****/

	.rating > input:checked ~ label, /* show gold star when clicked */
	.rating:not(:checked) > label:hover, /* hover current star */
	.rating:not(:checked) > label:hover ~ label {
		color: #FFD700;
	}

	/* hover previous stars in list */

	.rating > input:checked + label:hover, /* hover current star when changing rating */
	.rating > input:checked ~ label:hover,
	.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
	.rating > input:checked ~ label:hover ~ label {
		color: #FFED85;
	}

	//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

	a[data-tooltip] {
		position: relative;
	}

	a[data-tooltip]::before,
	a[data-tooltip]::after {
		position: absolute;
		display: none;
		opacity: 0.85;
	}

	a[data-tooltip]::before {
		/*
		 * using data-tooltip instead of title so we
		 * don't have the real tooltip overlapping
		 */
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 13px;
		padding: 5px;
		border-radius: 5px;
		/* we don't want the text to wrap */
		white-space: nowrap;
		text-decoration: none;
	}

	a[data-tooltip]::after {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		content: '';
	}

	a[data-tooltip]:hover::before,
	a[data-tooltip]:hover::after {
		display: block;
	}

	/** positioning **/

	/* top tooltip */
	a[data-tooltip][data-placement="top"]::before {
		bottom: 100%;
		left: 0;
		margin-bottom: 40px;
	}

	a[data-tooltip][data-placement="top"]::after {
		border-top-color: #000;
		border-bottom: none;
		bottom: 50px;
		left: 20px;
		margin-bottom: 4px;
	}
}

.page-tvshow-list {
}

.page-player {
	height: 100%;
	position: relative;
	background: #000;
	align-items: center;
	display: flex;
	overflow: hidden;
	.player-title {
		position: absolute;
		z-index: 9;
		color: #fff;
		font-size: 26px;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.64) 60%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.64) 60%, rgba(0, 0, 0, 0) 100%);
		padding: 10px;
		top: 0px;
		width: 100%;
		display: flex;
		align-items: center;
		transition: all .2s ease-in-out;
		opacity: 1;
		a {
			color: #fff;
			font-size: 16px;
			padding: 0 20px;

			&:hover {
				color: #eee;
			}
		}

		.torrent-info {
			font-size: 16px;
			right: 30px;
			position: absolute;
			background: rgba(255, 255, 255, 0.5);
			width: 25px;
			height: 25px;
			border-radius: 50%;
			text-align: center;
			color: rgb(0, 0, 0);
		}
	}

	button.vjs-big-play-button {
		left: calc(50% - 30px);
		top: calc(50% - 30px);
		width: 60px;
		height: 60px;
		border-radius: 50%;
		line-height: 54px;
		font-size: 40px;
		outline: none;
	}
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
	box-sizing: border-box;
}

.page-chat {
	font: 14px/20px "Lato", Arial, sans-serif;
	padding: 0;
	color: white;
	margin: 0 auto;
	width: 100%;
	background: #444753;
	height: 100%;
	position: relative;

	.people-list {
		width: 300px;
		float: left;
		height: 100%;
		position: relative;

		.search {
			padding: 0;
		}

		input {
			border-radius: 0;
			border: none;
			padding: 15px;
			padding-right: 30px;
			outline: none;
			color: white;
			background: #6A6C75;
			width: 100%;
			font-size: 14px;
			transition: all .3s ease-in-out;

			&:focus {
				background: #8f939c;
			}
		}

		.fa-search {
			position: absolute;
			right: 15px;
			top: 18px;
		}

		ul.list {
			padding: 0;
			height: calc(100% - 50px);
			list-style: none;
			box-sizing: border-box;
			overflow: auto;
			margin: 0;
			width: 100%;
			li {
				width: 100%;
				height: 90px;
				background-color: #FAFAFA;
				border-bottom: solid 1px #E0E0E0;
				display: flex;
				align-items: center;
				cursor: pointer;
				border-right: 5px solid #FAFAFA;
				&.message-active {
					background-color: #FFF;
					border-right-color: #5b616e;
					&:hover {
						background-color: #fff;
						border-right-color: #505561;
					}
				}
				&:hover {
					background-color: #f4f4f4;
					border-right-color: #c3c3c3;
				}
				.photo {
					margin-left: 10px;
					display: block;
					background: #777777;
					border-radius: 50%;
					padding: 3px;
					position: relative;
					img {
						width: 45px;
						height: 45px;
						border-radius: 50%;
					}
				}

				.desc-contact {
					height: 43px;
					width: 50%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0 0 0 10px;
					color: #515151;
					.name {
						margin: 0;
						font-size: 11pt;
					}
					.message {
						margin: 6px 0 0;
						font-size: 9pt;
					}
				}
				.timer {
					margin: 0 3px 0 10px;
					font-size: 11px;
					padding: 3px 8px;
					color: #BBB;
					background-color: #FFF;
					border-radius: 15px;
					box-shadow: 0 0 3px #E5E5E5;
				}
			}

			.search {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #E0E0E0;

				.searchbar {
					height: 40px;
					background-color: #FFF;
					width: 70%;
					padding: 0 20px;
					border-radius: 50px;
					border: 1px solid #EEEEEE;
					display: flex;
					align-items: center;
					cursor: pointer;

					*::-webkit-input-placeholder {
						color: #E0E0E0;
					}

					input {
						margin-left: 15px;
						height: 38px;
						width: 100%;
						border: none;
						font-family: 'Montserrat', sans-serif;

						*:-moz-placeholder {
							color: #E0E0E0;
						}

						*::-moz-placeholder {
							color: #E0E0E0;
						}

						*:-ms-input-placeholder {
							color: #E0E0E0;
						}
					}
				}
			}
		}

		img {
			float: left;
		}

		.about {
			float: left;
			margin-top: 8px;
		}

		.about {
			padding-left: 8px;
		}

		.status {
			color: $gray;
		}

	}

	.chat {
		width: calc(100% - 300px);
		float: left;
		background: #F2F5F8;
		color: #434651;
		height: 100%;
		position: relative;
		overflow: hidden;

		.chat-header {
			padding: 20px;
			border-bottom: 2px solid white;
			height: 98px;
			box-shadow: 0 0 6px #5d5b5b;

			img {
				float: left;
			}

			.chat-about {
				float: left;
				padding-left: 10px;
				margin-top: 6px;
			}

			.chat-with {
				font-weight: bold;
				font-size: 16px;
			}

			.chat-num-messages {
				color: $gray;
			}

			.chat-actions {
				i {
					float: right;
					color: #D8DADF;
					font-size: 20px;
					margin: 12px 5px 0;
					&:hover {
						color: #aaa;
					}
				}
			}
		}

		ul.chat-history {
			padding: 30px 30px 20px;
			border-bottom: 2px solid white;
			overflow-y: auto;
			height: calc(100% - 160px - 100px);
			list-style: none;
			margin: 0;
			.message-data {
				margin-bottom: 15px;
			}

			.message-data-time {
				color: lighten($gray, 8%);
				padding-left: 6px;
			}

			.message {
				color: white;
				padding: 18px 20px;
				line-height: 26px;
				font-size: 16px;
				border-radius: 7px;
				margin-bottom: 30px;
				width: 90%;
				position: relative;

				&:after {
					bottom: 100%;
					left: 7%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-bottom-color: $green;
					border-width: 10px;
					margin-left: -10px;
				}
			}

			.my-message {
				background: $green;
			}

			.other-message {
				background: $blue;

				&:after {
					border-bottom-color: $blue;
					left: 93%;
				}
			}

		}

		.chat-message {
			padding: 20px;
			height: 160px;
			box-shadow: 0 0 6px #5d5b5b;

			textarea {
				width: 100%;
				border: none;
				padding: 10px 20px;
				font: 14px/22px "Lato", Arial, sans-serif;
				margin-bottom: 10px;
				border-radius: 5px;
				resize: none;

			}

			.fa-file-o, .fa-file-image-o {
				font-size: 16px;
				color: gray;
				cursor: pointer;

			}

			button {
				float: right;
				color: $blue;
				font-size: 16px;
				text-transform: uppercase;
				border: none;
				cursor: pointer;
				font-weight: bold;
				background: #F2F5F8;

				&:hover {
					color: darken($blue, 7%);
				}
			}
		}
	}
	.emoji-picker {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.me {
		color: $blue;
		margin-right: 3px;
		font-size: 10px;
	}

	.align-left {
		text-align: left;
	}

	.align-right {
		text-align: right;
	}

	.float-right {
		float: right;
	}

	&.clearfix:after,
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.online {
		position: absolute;
		bottom: 0px;
		right: 0;
		width: 13px;
		height: 13px;
		background-color: #8BC34A;
		border-radius: 13px;
		border: 3px solid #FAFAFA;
	}

	/* Calls */
	#consultingRoom {
		position: absolute;
		background: #505050;
		width: 100%;
		height: 100%;
		.close-call {
			font-size: 18px;
			position: absolute;
			top: 20px;
			right: 20px;
			height: 30px;
			width: 30px;
			background: #3e3e3e;
			text-align: center;
			border-radius: 50%;
			padding: 5px;
			display: block;
			cursor: pointer;
			z-index: 9;
		}
		.remote-video {
			background: #5d5d5d;
			width: 100%;
			height: calc(100% - 3px);
			margin: 0;
			padding: 0;
			video {
				width: 100%;
				height: 100%;
				position: relative;
				margin: 0;
				padding: 0;
			}
			i {
				position: absolute;
				bottom: 10px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				padding: 10px;
				font-size: 20px;
				background: rgb(33, 33, 33);
				text-align: center;
				opacity: 0.6;
				transition: all .3s ease-in-out;
				&.fa-microphone {
					left: calc(50% - 30px);
					&.is-disabled {
						background: rgb(255, 0, 18);
					}
					&.is-enabled {

					}
				}
				&.fa-video {
					left: calc(50% + 30px);
					&.is-disabled {
						background: rgb(255, 0, 18);
					}
					&.is-enabled {

					}
				}
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
		.local-video {
			background: #616161;
			width: 280px;
			height: 200px;
			position: absolute;
			bottom: 20px;
			right: 20px;
			video {
				width: 100%;
				height: 100%;
				position: relative;
				margin: 0;
				padding: 0;
			}
			i {
				position: absolute;
				bottom: 10px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				padding: 10px;
				font-size: 20px;
				background: rgb(33, 33, 33);
				text-align: center;
				opacity: 0.6;
				transition: all .3s ease-in-out;
				&.fa-microphone {
					left: calc(50% - 30px);
					&.is-disabled {
						background: rgb(255, 0, 18);
					}
					&.is-enabled {

					}
				}
				&.fa-video {
					left: calc(50% + 30px);
					&.is-disabled {
						background: rgb(255, 0, 18);
					}
					&.is-enabled {

					}
				}
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}
}

.page-file-explorer {
	position: relative;
	height: 100%;
	.explorer-sidebar{
		width: 240px;
		display: block;
		font-size: 16px;
		position: fixed;
		margin: 0;
		height: 100%;
		background-color: #ffffff;
		color: inherit;
		padding: 15px 20px 20px 20px;
		border: none;
		box-shadow: 0 0 2px #151515;
		list-style: none outside none;
		.file-control {
			color: inherit;
			font-size: 11px;
			margin-right: 10px;
			&.active {
				text-decoration: underline;
			}
		}
		.folder-list li {
			border-bottom: 1px solid #e7eaec;
			display: block;
			a {
				color: #666666;
				display: block;
				padding: 5px 0;
			}
			i {
				margin-right: 8px;
				color: #3d4d5d;
			}
		}
		.category-list li {
			display: block;
			a {
				color: #666666;
				display: block;
				padding: 5px 0;
			}
			i {
				margin-right: 8px;
				color: #3d4d5d;
			}
		}
		.tag-list li {
			list-style: none;
			float: left;
			a {
				font-size: 10px;
				background-color: #f3f3f4;
				padding: 5px 12px;
				color: inherit;
				border-radius: 2px;
				border: 1px solid #e7eaec;
				margin-right: 5px;
				margin-top: 5px;
				display: block;
				.text-navy {
					color: #1ab394;
				}
				.text-primary {
					color: #1c84c6;
				}
				.text-info {
					color: #23c6c8;
				}
				.text-danger {
					color: #EF5352;
				}
				.text-warning {
					color: #F8AC59;
				}
			}
		}
		.hr-line-dashed {
			margin: 15px 0;
		}
		h5 {
			text-transform: uppercase;
			&.tag-title {
				margin-top: 20px;
			}
		}
	}
	.explorer-grid{
		width: calc( 100% - 240px );
		display: block;
		margin: 0 0 0 240px;
		height: 100%;
		padding: 20px;
		font-size: 0;
		.file-box {
			display: inline-block;
			width: 25%;
			padding: 5px;
			font-size: 15px;
			.file {
				border: 1px solid #e7eaec;
				padding: 0;
				background-color: #ffffff;
				position: relative;
				margin: 0;
				.icon,
				.image {
					height: 100px;
					overflow: hidden;
				}
				.icon {
					padding: 15px 10px;
					text-align: center;
					i {
						font-size: 70px;
						color: #dadada;
					}
				}
				.file-name {
					padding: 10px;
					background-color: #f8f8f8;
					border-top: 1px solid #e7eaec;
					small {
						color: #676a6c;
					}
				}
			}
		}
	}
	.explorer-list{
		background: #efefef;
		width: calc( 100% - 240px );
		display: block;
		margin: 0 0 0 240px;
		height: 100%;
		padding: 20px;
		font-size: 0;
		overflow: auto;
		.breadcrumb{
			font-size: 14px;
		}
		thead{
			tr{
				font-size: 15px;
			}
		}
		tbody{
			tr{
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
	a, a:hover{
		text-decoration: none;
	}
}