/* Pages styles */

/* Index */
.page-index{
	#wrapper {
		background:
			radial-gradient(
				ellipse at top left,
				rgba(255, 255, 255, 1) 40%,
				rgba(229, 229, 229, .9) 100%
			);
		height: 100vh;
		padding: 60px 80px;
		width: 100vw;
	}
	#logo {
		height: auto;
		margin-bottom: 20px;
		width: 420px;
	}
	.left-side {
		display: flex;
		flex-direction: column;
	}

	.welcome {
		color: #555;
		font-size: 23px;
		margin-bottom: 10px;
	}

	.title {
		color: #2c3e50;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 6px;
		&.alt {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}

	.doc {
		p {
			color: black;
			margin-bottom: 10px;
		}
		button {
			font-size: .8em;
			cursor: pointer;
			outline: none;
			padding: 0.75em 2em;
			border-radius: 2em;
			display: inline-block;
			color: #fff;
			background-color: #4fc08d;
			transition: all 0.15s ease;
			box-sizing: border-box;
			border: 1px solid #4fc08d;
			&.alt {
				color: #42b983;
				background-color: transparent;
			}
		}
	}
}
/* About */
.page-about{
	.title {
		color: #888;
		font-size: 18px;
		font-weight: initial;
		letter-spacing: .25px;
		margin-top: 10px;
	}
	.items {
		margin-top: 8px;
	}
	.item {
		display: flex;
		margin-bottom: 6px;
		&.name {
			color: #6a6a6a;
			margin-right: 6px;
		}
		&.value {
			color: #35495e;
			font-weight: bold;
		}
	}
}

.page-settings{
	
}
.page-local-media{
	
}
/* Movies List */
.page-movie-list{
	.movie-list{
		li{
			display: inline-block;
		}
	}
}
/* Movies Detail */
.page-movie-detail{
	height: 100%;
	width: 100%;
	position: relative;
	background: #eee;
	padding: 0 0 20px;
	&:after{
		content: '';
		clear: both;
		width: 100%;
		height: 1px;
		background: inherit;
	}
	.return-to-list{
		position: absolute;
		top: 10px;
		left: 20px;
		width: 30px;
		height: 30px;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		border-radius: 50%;
		text-align: center;
		z-index: 9;
		padding: 4px 0;
		transition: all .3s ease-in-out;
		&:hover{
			box-shadow: 0 0 1px darkgray;
			background: rgba(0, 0, 0, 0.8);
		}
	}
	.movie-card {
		font: 14px/22px "Lato", Arial, sans-serif;
		color: #A9A8A3;
		padding: 0;
	}
	.hero {
		height: 342px;  
		margin:0;
		position: relative;
		overflow: hidden;
		z-index:1;
		background: #8e8e8e;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
		border-radius: 0;
		transform: skewY(-2.2deg);
		transform-origin:0 0;
		//chrome antialias fix
		-webkit-backface-visibility: hidden;
		&:after{
			content: '';
			background: rgba(0,0,0,0.55);
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.movie-header{
		height: 342px;
		margin: 0;
		position: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		display: block;
	}
	.cover {
		position: absolute;
		top: 160px;
		left: 40px;
		height: 290px;
		z-index: 2;
	}
	.details {
		padding: 160px 0 0 260px;
		.title1 {
			color: white;
			font-size: 40px;
			margin-bottom: 13px;
			position: relative;
			line-height: 38px;
			max-width: 70%;
			width: max-content;
			span {
				position: absolute;
				top: 3px;
				margin-left: 12px;
				background: #C4AF3D;
				border-radius: 5px;
				color: #544C21;
				font-size: 14px;
				line-height: 20px;
				padding: 0px 4px;
				right: -60px;
			}
		}
		.title2 {
			color: #eee;
			font-size: 23px;
			font-weight: 300;
			margin-bottom: 15px;
		}
		.likes {
			color: #bbb;
			margin-left: 24px;
		}
		.likes:before {
			content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
			position: relative;
			top: 2px;
			padding-right: 7px;
		}
	}
	.description {
		bottom: 0px;
		height: 200px;
		font-size: 0;
		line-height: 26px;
		color: #424242;
		&:after{
			content: '';
			clear: both;
		}
		.column1 {
			padding-left: 40px;
			padding-top: 120px;
			width: 230px;
			float: left;
			font-size: 16px;
			.tag {
				background: white;
				border-radius: 6px;
				padding: 2px 8px;
				font-size: 14px;
				margin: 4px 4px 0 0;
				cursor: pointer;
				display: inline-block;
				&:hover {
					background: #ddd;
				}
			}
		}
		.column2 {
			padding-left: 41px;
			padding-top: 30px;
			width: calc( 100% - 230px);
			float: left;
			position: relative;
			font-size: 16px;
			p{
				width: 90%;
			}
			.avatars {
				margin-top: 23px;
				img {
					cursor: pointer;
					&:hover {
						opacity: 0.6;
					}
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	//star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

	fieldset, label { margin: 0; padding: 0; }

	/****** Style Star Rating Widget *****/

	.rating { 
		border: none;
		float: left;
	}

	.rating > input { display: none; } 
	.rating > label:before { 
		margin: 5px;
		margin-top: 0;
		font-size: 1em;
		font-family: 'Font Awesome 5 Free';
		display: inline-block;
	    font-weight: 900;
		content: "\f005";
	}

	.rating > .half:before { 
		content: "\f089";
		position: absolute;
	}

	.rating > label { 
		color: #ddd; 
		float: right; 
	}

	/***** CSS Magic to Highlight Stars on Hover *****/

	.rating > input:checked ~ label, /* show gold star when clicked */
	.rating:not(:checked) > label:hover, /* hover current star */
	.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

	.rating > input:checked + label:hover, /* hover current star when changing rating */
	.rating > input:checked ~ label:hover,
	.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
	.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

	//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

	a[data-tooltip] {
		position: relative;
	}
	a[data-tooltip]::before,
	a[data-tooltip]::after {
		position: absolute;
		display: none;
		opacity: 0.85;
	}
	a[data-tooltip]::before {
		/*
		 * using data-tooltip instead of title so we 
		 * don't have the real tooltip overlapping
		 */
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 13px;
		padding: 5px;
		border-radius: 5px;
		/* we don't want the text to wrap */
		white-space: nowrap;
		text-decoration: none;
	}
	a[data-tooltip]::after {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		content: '';
	}

	a[data-tooltip]:hover::before,
	a[data-tooltip]:hover::after {
		display: block;
	}

	/** positioning **/

	/* top tooltip */
	a[data-tooltip][data-placement="top"]::before {
		bottom: 100%;
		left: 0;
		margin-bottom: 40px;
	}
	a[data-tooltip][data-placement="top"]::after {
		border-top-color: #000;
		border-bottom: none;
		bottom: 50px;
		left: 20px;
		margin-bottom: 4px;
	}


}
.page-tvshow-detail{

}
.page-tvshow-list{
	
}